(use-modules (gnu)
			 (kefir srvcs base)
			 (kefir srvcs workstation)
			 (kefir misc base))

(operating-system
 (locale "en_US.utf8")
 (timezone "Europe/Moscow")
 (keyboard-layout (keyboard-layout "us"))
 (host-name "workstation_vm")
 (users (cons* (user-account
                (name "user")
                (comment "User")
                (group "users")
                (home-directory "/home/user")
                (supplementary-groups
				 '("wheel" "netdev" "audio" "video")))
			   %base-user-accounts))
 (packages (append
			%kefir-system-packages
			(map (compose list specification->package+output)
				 '("emacs-stuff"))))
 (services %kefir-workstation-services)
 (bootloader
  (bootloader-configuration
   (bootloader grub-bootloader)
   (targets '("/dev/sda"))
   (keyboard-layout keyboard-layout)))
 (file-systems (cons (file-system
                      (device (file-system-label "my-root"))
                      (mount-point "/")
                      (type "ext4"))
                     %base-file-systems)))
